<nav class="nav">
    <div class="container nav__container">
        <a >
            <a href="#header" class="nav__logo">UZBEK.INVEST</a>
        </a>
       <ul class="nav__list">
           <a class="nav__link" href="../index.html">Investment Opportunities</a>
           <a class="nav__link" href="../page1.html">How it works</a>
            <a class="nav__link" href="../page2.html">About us</a>
       </ul>
       <ul class="nav__listreg">
        <button class="nav__link-login">Login</button>
        <button class="nav__link-reg">Register</button>
        
       </ul>
    </div>
</nav>